* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    border-radius: 15px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto; 
    /*Flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(90deg, #7c7c7c, #93af80);
    opacity: 0.8;
    opacity: 50px;
    width: 100%;
    height: 50px;
    padding: 20px;
    /*Flex*/
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}


.header__logo {
    width: 28px;
    margin-right: 6px;
    vertical-align: top;
}

.header__tile {
    color: #fff;
    font-weight:bold;
    text-decoration: none;
    line-height: 35px;
    font-size: 1.3rem
}

.main {    
    /* background: turquoise; */
    width: 100%;
    height: auto;
    padding: 40px 80px;
    position: relative;
    /*Flex*/
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;    
}

.main__pokemon {
    /* background: turquoise; */
    width: 50%;
    /*Flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__img-pokemon {
    width: 100%;
}

.main-header {   
    border-radius: 15px;
    background: linear-gradient(90deg, #7c7c7c, #93af80);
    opacity: 0.9;
    width: 100%;
    height: 60px;
    /*Flex*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header__icono {
    width: 33px;
}

.main-header__texto {
    color: rgb(253, 253, 253);
    font-size: 1.6rem;
    font-weight:bold;
}

.main__card {
    /* background: rgb(187, 120, 44); */
    width: 40%;
}

.features {
    border-radius: 15px;
    width: 100%;
    height: 100%;    
    display: inline-grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style-type: none;
    background: linear-gradient(90deg, #7c7c7c, #93af80);
}
.features__feature {
     display: flex;
     flex-direction: column;
     text-align: center;
 }

.features__feature-title {
     font-size: 1rem;
     color: rgb(255, 255, 255);
 }

.features__feature-data {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.footer{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: linear-gradient(90deg, #7c7c7c, #93af80);
    opacity: 0.8;
    /** Flex **/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer__texto {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight:bold;
}

.footer__btns{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px;
}

.footer__btn-footer  {
    height: 110px;
    width: 110px;
    border-radius: 15px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

.footer__btn-footer:hover {
   box-shadow: 0 0 40px 40px rgb(0, 255, 13) inset;
   background: rgb(16, 16, 16);
}

.footer_img-footer {
    width: 100px;  
    margin: auto
    
}

@media screen and (max-width:700px) {
    .contenedor {
        outline: 2px solid rgb(133, 133, 133);
    }

    .header {
        justify-content: center;
    }

    .header__logo  {        
        font-size: 1rem;
    }

    .main {
        padding: 20px 30px;
    }    

    .main-header {
        width: 100%;
    }
    
    .main__pokemon{
        min-width: 330px;
        position: relative;   
        top: 80px;
    }

    .main__img-pokemon {
        width: 100%;
    }
     
    .main__card{
        width: 100%;  
    }

    .features{
        margin-bottom: 150px;
        padding-top: 60px;
        padding-bottom: 40px ;     
    }

    .features__feature{
        flex-direction: row;
        justify-content: space-around
    }

    .features__feature-title {
        font-size: 1rem;
    }
        
    .footer {
        width: 100%;
        padding: 20px;
        /* background: rgb(179, 96, 58); */
    }   

    .footer__texto{
        font-size: 1.3rem;
    }
    
    .footer__btns{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 50px;
    }

    .footer__btn-footer{
        width: 30%;
    }

    .footer_img-footer{
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width:430px) {
    .main-header {
        width: 90%;
    }
}



